@-webkit-keyframes slidein {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

body {
  background-color: #f6f6f6;
  position: relative;
  font-family: "Roboto";
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0px;
  padding: 0px;
}

header {
  z-index: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .img_logo {
  height: 25px;
  margin: 5px auto;
}

header .img_restaurants {
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: absolute;
  top: 35px;
  right: 0;
}

header i {
  position: absolute;
  left: 10px;
  top: 10px;
  color: black;
}

main {
  z-index: 7;
  position: relative;
  margin-top: 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main .restaurant {
  background-color: #f6f6f6;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .restaurant h1 {
  font-family: "Shrikhand";
  font-weight: 500;
  font-size: 28px;
  margin: 0;
}

main .restaurant .heart {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 20px;
  color: black;
}

main .restaurant .heart .fa-heart {
  position: absolute;
  top: 0;
  right: 0;
}

main .restaurant .heart .solidheart {
  -webkit-transform: scale(0);
          transform: scale(0);
  background: linear-gradient(175deg, #ff79da 25%, #a45cdc 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

main .restaurant .heart:hover .solidheart {
  -webkit-transform: scale(1);
          transform: scale(1);
}

main .restaurant h2 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  padding-top: 20px;
  margin: 0;
  -webkit-animation: 1s slidein .3s forwards;
          animation: 1s slidein .3s forwards;
  opacity: 0;
}

main .restaurant h2:nth-child(6) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

main .restaurant h2:nth-child(9) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

main .restaurant .barrebleue {
  border: 1px solid #95e1ce;
  width: 10%;
  -webkit-animation: 1s slidein .3s forwards;
          animation: 1s slidein .3s forwards;
  opacity: 0;
}

main .restaurant .barrebleue:nth-child(7) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

main .restaurant .barrebleue:nth-child(10) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

main .parent_plat:nth-child(8) .plat {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

main .parent_plat:nth-child(11) .plat {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

main .parent_plat .plat {
  -webkit-animation: 1s slidein .3s forwards;
          animation: 1s slidein .3s forwards;
  opacity: 0;
  padding-top: 15px;
  padding-left: 10px;
  font-family: "Roboto";
  border-radius: 20px;
  -webkit-box-shadow: 0px 6px 7px -1px rgba(154, 149, 161, 0.53);
          box-shadow: 0px 6px 7px -1px rgba(154, 149, 161, 0.53);
  background-color: white;
  width: 90%;
  position: relative;
  height: 70px;
  margin: 5px 0;
  overflow: hidden;
}

main .parent_plat .plat:hover .check {
  width: 60px;
}

main .parent_plat .plat:hover .check i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

main .parent_plat .plat:hover .price {
  right: 70px;
}

main .parent_plat .plat:hover h3 {
  padding-right: 105px;
}

main .parent_plat .plat:hover .description {
  padding-right: 105px;
}

main .parent_plat .plat .check {
  background-color: #99E2D0;
  width: 0;
  position: absolute;
  border-radius: 0 20px 20px 0;
  top: 0;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  overflow: hidden;
  -webkit-transition: width .3s;
  transition: width .3s;
}

main .parent_plat .plat .check i {
  background-color: #99E2D0;
  color: white;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

main .parent_plat h3 {
  margin-bottom: 10px;
  padding-right: 45px;
  -webkit-transition: padding-right .3s;
  transition: padding-right .3s;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

main .parent_plat .description {
  text-overflow: ellipsis;
  padding-right: 45px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: padding-right .3s;
  transition: padding-right .3s;
}

main .parent_plat .price {
  position: absolute;
  right: 10px;
  top: 40px;
  font-weight: 500;
  -webkit-transition: right .3s;
  transition: right .3s;
}

main .commander {
  background: linear-gradient(175deg, #ff79da 25%, #a45cdc 75%);
  color: white;
  font-size: 13px;
  font-weight: 500;
  border-radius: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.53);
          box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.53);
  text-decoration: none;
  width: 50%;
  margin: 20px auto 60px;
  font-size: 16px;
  font-family: "Roboto";
}

main .commander:hover {
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
  -webkit-box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.53);
          box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.53);
}

footer {
  background-color: #353535;
  color: white;
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

footer a,
footer p,
footer h3 {
  padding-left: 20px;
}

footer h3 {
  font-family: "Shrikhand";
  font-weight: 300;
  font-size: 17px;
  padding-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer i {
  padding-right: 5px;
}

@media (min-width: 992px) {
  body main .restaurant .barrebleue {
    width: 5%;
  }
  body main .restaurant .parent_plat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .restaurant .parent_plat .plat {
    width: calc(33.33% - 22px);
  }
  body main .commander {
    width: 200px;
    margin: 50px auto 50px;
  }
  body footer h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body footer .footer_text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 10px;
  }
  body footer .border_right {
    border-right: 1px white solid;
  }
}
