@import "utils";
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: $primaryfont;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.loader {
    @include loader
}

header {
    flex-shrink: 0;
    text-align: center;
    .img_logo {
        width: 144px;
        height: 25px;
        margin: 5px auto;
    }
    .location {
        display: flex;
        justify-content: center;
        background-color: #eaeaea;
        box-shadow: 0px -3px 3px 0px #D1D1D1;
        gap: 15px;
        padding: 10px 0px;
        font-weight: 500;
        i {
            color: #303030;
        }
    }
    .explorez {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f6f6f6;
        padding: 40px 50px;
        .reservez {
            font-size: 22px;
            font-weight: 600;
        }
        .decouvrez {
            padding: 10px 0 20px 0;
            font-size: 15px;
            color: $iconcolor;
            font-weight: 300;
        }
        .btn-rose {
            @include btnrose
        }
    }
}

nav {
    flex-shrink: 0;
    padding-bottom: 40px;
    h1 {
        font-weight: 600;
        font-size: 22px;
        padding-left: 20px;
    }
    i {
        color: $iconcolor;
        margin: 0 25px;
        font-size: 18px;
    }
    .borderone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        &_element {
            @include borderone;
            .chiffre {
                @include chiffre;
            }
        }
    }
}

main {
    padding-bottom: 40px;
    flex-grow: 1;
    background-color: #f6f6f6;
    h1 {
        font-weight: 600;
        font-size: 22px;
        padding-left: 20px;
        padding-top: 40px;
    }
    .restaurants {
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &_element {
            @include restaurants_element;
            .nouveau {
                @include nouveau;
            }
            .heart {
                @include heart;
            }
            a {
                text-decoration: none;
                color: black;
            }
        }
        img {
            @include restaurants_img;
        }
        h3,
        p {
            padding-left: 10px;
        }
        h3 {
            padding-bottom: 5px;
            padding-top: 10px;
        }
    }
}

footer {
    @include footer;
}

@media (min-width:992px) {
    header {
        img {
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .explorez .btn-rose {
            width: 200px;
        }
    }
    nav {
        h1 {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .borderone {
            display: flex;
            flex-direction: row;
            gap: 50px;
            &_element {
                width: 25%;
                &:not(:nth-child(3)) {
                    &::after {
                        content: "";
                        position: absolute;
                        width: 30px;
                        border-bottom: 2px dotted #c7bed1;
                        top: calc(50% - 1px);
                        left: calc(100% + 5px)
                    }
                }
            }
        }
    }
    main {
        h1 {
            text-align: center;
            padding: 20px 0;
        }
        .restaurants {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px;
            &_element {
                width: 330px;
            }
        }
    }
    footer {
        h3 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .footer_text {
            flex-direction: row;
            display: flex;
            justify-content: space-evenly;
            gap: 10px;
        }
        .border_right {
            border-right: 1px white solid;
        }
    }
}