$primarycolor: #9356DC;
$secondarycolor: #FF79DA;
$tertiarycolor: #99E2D0;
$iconcolor: #7d7d7d;
$primaryfont: "Roboto";
$secondaryfont: "Shrikhand";
@mixin loader {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
    background: white;
    z-index: 10;
    animation: loaderduration 5s;
    opacity: 0;
    left: 1000%;
    .barreblanche {
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 10%);
        width: 100%;
        margin: auto 0;
        height: 50px;
        position: absolute;
        animation: barreblanche 4s;
        @keyframes barreblanche {
            0% {
                margin-left: 0;
            }
            100% {
                margin-left: 200%;
            }
        }
    }
    .title {
        background: linear-gradient(175deg, rgba(255, 121, 218, 1) 25%, rgba(164, 92, 220, 1) 75%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $secondaryfont;
        font-size: 30px;
        padding: 10px;
    }
    @keyframes loaderduration {
        0% {
            left: 0;
            opacity: 1;
        }
        50% {
            opacity: 1;
        }
        60% {
            opacity: 0;
            left: 0;
        }
        70% {
            left: 1000%;
        }
    }
}

@mixin borderone {
    background-color: #f5edff;
    box-shadow: 0px 6px 7px -1px rgba(154, 149, 161, 0.53);
    height: 70px;
    border-radius: 20px;
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    position: relative;
}

@mixin chiffre {
    background-color: $primarycolor;
    border-radius: 50%;
    position: absolute;
    left: -12px;
    width: 25px;
    height: 25px;
    color: white;
    line-height: 25px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

@mixin restaurants_img {
    object-fit: cover;
    height: 65%;
    width: 100%;
}

@mixin restaurants_element {
    border-radius: 20px;
    background-color: white;
    width: 92%;
    box-shadow: 0px 6px 7px -1px rgba(154, 149, 161, 0.53);
    height: 200px;
    overflow: hidden;
    position: relative;
}

@mixin nouveau {
    position: absolute;
    background-color: #99e2d0;
    color: #0a8d6d;
    top: 10px;
    right: 10px;
    font-weight: 500;
    font-size: 12px;
    width: 20%;
    text-align: center;
    height: 20px;
    line-height: 20px;
}

@mixin heart {
    position: absolute;
    right: 20px;
    bottom: 40px;
    font-size: 20px;
    color: #7d7d7d;
    .fa-heart {
        position: absolute;
        top: 0;
        right: 0;
    }
    .solidheart {
        transform: scale(0);
        background: linear-gradient(175deg, rgba(255, 121, 218, 1) 25%, rgba(164, 92, 220, 1) 75%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 400ms;
    }
    &:hover {
        .solidheart {
            transform: scale(1);
        }
    }
}

@mixin heartdeux {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 20px;
    color: black;
    .fa-heart {
        position: absolute;
        top: 0;
        right: 0;
    }
    .solidheart {
        transform: scale(0);
        background: linear-gradient(175deg, rgba(255, 121, 218, 1) 25%, rgba(164, 92, 220, 1) 75%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 400ms;
    }
    &:hover {
        .solidheart {
            transform: scale(1);
        }
    }
}

@mixin footer {
    background-color: #353535;
    color: white;
    font-family: $primaryfont;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-shrink: 0;
    a,
    p,
    h3 {
        padding-left: 20px;
    }
    h3 {
        font-family: $secondaryfont;
        font-weight: 300;
        font-size: 17px;
        padding-bottom: 10px;
    }
    a {
        text-decoration: none;
        color: white;
    }
    i {
        padding-right: 5px;
    }
}

@mixin btnrose {
    background: linear-gradient(175deg, rgba(255, 121, 218, 1) 25%, rgba(164, 92, 220, 1) 75%);
    color: white;
    font-size: 13px;
    font-weight: 500;
    border-radius: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.53);
    text-decoration: none;
    &:hover {
        filter: brightness(1.05);
        box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.53);
    }
}

@mixin plat {
    animation: 1s slidein .3s forwards;
    opacity: 0;
}

@keyframes slidein {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}